

/*color-bright-green: #A9C00F;
color-dark-green: #94a80d;
*/

/* ------------------------------------------  */
/* BASIC SETUP  */
/* ------------------------------------------  */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color:  #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ------------------------------------------  */
/* REUSABLE COMPONENTS  */
/* ------------------------------------------  */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.box {
  padding: 1%;
}

section {
  padding: 80px 0;
}

h1 {
  margin: 0;
  color: #fff;
  font-size: 180%;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 4px;
}

h2 {
  font-weight: 300;
  text-transform: uppercase;  
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 160%;
  word-spacing: 2px;
  font-weight: 300;
  /*margin-bottom: 30px;*/
  /*margin-top: 20px;*/
  letter-spacing: 1px;
  color: #fff;
  word-spacing: 4px;
}

h4 {
  font-size: 100%;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 30px;
  letter-spacing: 1px;
  color: #fff;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #A9C00F;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

/*.font {
  color: #7E8F0B;
  font-weight: 400;
}*/

/*.font-color {
  color: #94a80d;
}*/

/*LINKS*/

a:link,
a:visited {
  color: #94a80d;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #A9C00F;
  transition: border-bottom 0.2s, color 0.2s; 
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/*BUTTONS*/

.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 3px;
  transition: background-color 0.7s, border 0.7s, color 0.7s;
}



.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #A9C00F;
  border: 1px solid #A9C00F;
  color: #fff;
  margin-right: 30px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #A9C00F;
  color: #94a80d;
}

.btn:hover,
.btn:active
 {
   background-color: #94a80d;
}

.btn-full:hover,
.btn-full:active, 
input[type=submit]:hover,
input[type=submit]:active {
  border: 1px solid #94a80d;
  
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #94a80d;
  color: #fff;
}

/*btn-2*/
.btn-text:link,
.btn-text:visited {
  color: #94a80d;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #94a80d;
  padding: 3px;
  transition: all .2s;
  font-weight: 300;
}

.btn-text:hover {
  background-color: #94a80d;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(#000, .15);
  transform: translateY(-2px);
}

.btn-text:active {
  box-shadow: 0 .5rem 1rem rgba(#000, .15);
  transform: translateY(0);
}


/*UTILITIES*/
.u-margin-bottom-small {
  margin-bottom: 20px;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 40px;
}

/*ICONS*/

.icon-big {
  font-size: 350%;
  display: block;
  color: #A9C00F;
  margin-bottom: 10px;
}

.icon-big:hover,
.icon-big:visited {
  color: #94a80d;
}



/* ------------------------------------------  */
/* HEADER  */
/* ------------------------------------------  */

header {
  background-color: #383a46; 
  /*background-size: cover;*/
  /*background-position: center;*/
  /*height: 80vh;  */
}



.text-box {
  /*margin-top: 100px;*/
  /*float: right;*/
  padding: 35px;
}

.logo {
  /*height: 100px;*/
  width: auto;
  float: left;
  margin-top: 35px;
}

.logo-black { 
  display: none;
  height: 0px;
  width: auto;
  float: left;
  margin: 5px 0; 
}

.photo {
  /*float: left;*/
  width: auto;
  height: 300px;
   /*margin-top: 100px;*/
   padding: 35px;
   /*border-radius: 3%;*/
}

/*Main navi*/

.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;

}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;

}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #A9C00F;
}

/* ------------------------------------------  */
/* MY LATEST WORK */
/* ------------------------------------------  */

.section-portfolio {
  background-color: #ebebeb;
  
}

.img-work {
 /*float: left;*/
  width: 100%;
  
   /*padding: 35px; */
}

.title {
  width: 100%;
  /*float: right;*/
}

.inside {
  display: table;
  margin-bottom: 40px;
}

/*.icon-small {
  
  float: left;
  
}*/

.inside i {
  color: #fff;
  font-size: 200%;
  background-color: #383a46;
  padding: 5px 15px 5px 15px;
  display: table-cell;
  height: 100%;
}

.text-box-work {
  font-weight: 300;
  background-color: #94a80d;
  color: #fff;
   display: table-cell;
  /*padding: 10px 10px 10px 80px;*/
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  vertical-align: middle;

}

